@charset "utf-8";
/* CSS Document */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
}
*, html {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
body {
  max-width: 100%;
  position: relative;
  margin: 0 auto;
  color: var(--gray);
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}
p, h1, h2, h3, h4 {
  text-autospace: no-autospace;
  /*word-break: auto-phrase;*/
}
a, p, li, dd, th, td {
  font-size: clamp(1.1rem, 1.1vw, 1.1rem);
  text-autospace: no-autospace;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--gray);
}
a:hover {
  cursor: pointer;
  /*opacity: .6;*/
  transition: 0.3s;
}
.flex {
  display: flex;
}
.jcsb {
  justify-content: space-between;
}
.jcc {
  justify-content: center;
}
:root {
  --blue: #3e60ce;
  --gray: #555555;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clear {
  clear: both;
}
.tac {
  text-align: center;
}
.m0a {
  margin: 0 auto;
}
.wb {
  word-break: auto-phrase;
}
section {
  padding-bottom: 100px;
}
.white {
  color: #fff;
}
.wb {
  word-break: auto-phrase;
}
/*-------------ヘッダー----------------*/
header {
  width: 100vw;
  height: 100px;
  position: fixed;
  z-index: 30;
  margin: 0 auto;
}
.top_logo {
  background-color: #fff;
  padding: 30px;
  border-bottom-right-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 25;
}
.top_logo img {
  width: 180px;
  height: auto;
}
.main_wrap {
  height: 100vh;
  max-height: 1000px;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  border: solid 20px #fff;
  z-index: 15;
}
.img-box {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  z-index: 0;
  margin: 0 auto;
}
.img-box > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 1400px;
  height: 100vh;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  opacity: 0;
  animation-name: fade;
  animation-duration: 16s;
  animation-iteration-count: infinite;
}
.img-box img {
  position: absolute;
  width: 100%;
	min-width: 1600px;
  height: auto;
  left: 0;
  right: 0;
  margin: 0 auto;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    z-index: 0;
  }
}
/* 1枚目のスライド */
.img-box > div:first-of-type {}
/* 2枚目のスライド */
.img-box > div:nth-of-type(2) {
  animation-delay: 4s;
}
/* 3枚目のスライド */
.img-box > div:nth-of-type(3) {
  animation-delay: 8s;
}
/* 4枚目のスライド */
.img-box > div:last-of-type {
  animation-delay: 12s;
}
main {
  position: relative;
  background: #fff;
  z-index: 20;
}
.main_text {
  margin-bottom: 10px;
  background-color: #fff;
  font-size: 3.5rem;
}
.main_text:first-of-type {
  width: 400px;
}
.main_text span {
  color: var(--blue);
}
.main_text_wrap {
  position: absolute;
  bottom: 25%;
  right: 11%;
  z-index: 20;
}
/* ---------------ナビゲーション------------------ */
.main_nav ul {
  background-color: #fff;
  padding: 15px 15px 15px 45px;
  border-radius: 50px;
  margin: 50px 50px 0 0;
}
.nav_menu_li {
  margin-right: 40px;
  margin-top: 10px;
}
.nav_menu_li a {
  font-size: 0.8rem;
  color: #000;
}
.top_contact_btn {
  background-color: var(--blue);
  color: #fff;
  padding: 10px 20px;
  border-radius: 50px;
}
.top_contact_btn a {
  color: #fff;
  font-weight: bold;
  font-size: 0.9rem;
}
/* -------------お知らせ------------------ */
.sec_news {
  width: 700px;
  padding: 20px 0 15px 0;
  position: absolute;
  bottom: 4%;
  left: 3%;
  z-index: 20;
  background: rgba(255, 255, 255, 0.35);
}
/*
.sec_news h4 {
  font-size: 1.3rem;
}
*/
.sec_news_img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}
.news_btn {
  width: 350px;
  height: 60px;
  border: 1px solid var(--gray);
  border-radius: 50px;
  background-color: #fff;
  text-align: center;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  /*border-radius: 50px;*/
  overflow: hidden;
  margin: 0 auto;
}
.news_btn a {
  font-size: 13px;
  color: var(--gray);
  text-decoration: none;
  line-height: 55px;
  transition: all .5s ease;
  z-index: 2;
  position: relative;
  font-weight: bold;
  letter-spacing: 0.1em;
}
.news_btn a::after {
  content: '→';
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  top: -20px;
  right: -35px;
}
.eff-news {
  width: 350px;
  height: 60px;
  left: -350px;
  background-color: #f4eb8f;
  position: absolute;
  transition: all .5s ease;
  z-index: 1;
}
.news_btn:hover .eff-news {
  left: 0;
}
.news_btn:hover a {
  color: var(--gray);
}
/* ---------------セクションタイトル------------------ */
/*-------------ノーマル----------------*/
.sec_title1 {
  font-size: 2.5rem;
  font-weight: 900;
  text-align: center;
  margin-bottom: 20px;
}
.sec_title1 span {
  color: var(--blue);
}
.sec_title2 {
  margin: 0 auto;
  width: 100px;
  padding: 10px 0;
  text-align: center;
  border-top: var(--gray) solid 2px;
  border-bottom: var(--gray) solid 2px;
}
/*-------------白文字----------------*/
.sec_title3 {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 900;
  text-align: center;
  margin-bottom: 20px;
}
.sec_title4 {
  color: #fff;
  margin: 0 auto;
  width: 100px;
  padding: 10px 0;
  text-align: center;
  border-top: #fff solid 2px;
  border-bottom: #fff solid 2px;
}
/* ---------------見出し------------------ */
.sec_midasi {
  width: 1260px;
  margin: 0 auto;
  margin-top: 100px;
  position: relative;
}
.sub_img, .sub_img2 {
  position: absolute;
  height: 250px;
  top: -70px;
  width: auto;
}
.sub_img {
  left: 90px;
}
.sub_img2 {
  right: 30px;
}
.midasi_text1 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 900;
}
.midasi_text2 {
  text-align: center;
  font-size: 1.1rem;
  line-height: 2.0em;
}
/* ---------------こんな課題はありませんか？------------------ */
.sec_assignment {
  width: 1260px;
  margin: 0 auto;
  padding-top: 70px;
}
.assignment_title {
  text-align: center;
  padding: 10px 0;
  margin-bottom: 30px;
}
.assignment_li {
  text-align: center;
  width: calc(100%/3);
  padding: 20px 0px;
  margin-right: 10px;
  margin-bottom: 10px;
  border: solid 1px #333;
  position: relative;
  border: 2px solid var(--blue);
  overflow: hidden;
}
.assignment_li::before {
  position: absolute;
  content: '';
  right: 0px;
  bottom: 0px;
  border-width: 0px 0px 15px 15px;
  border-style: solid;
  border-color: transparent transparent transparent var(--blue);
}
/*-------------矢印アニメーション----------------*/
.container_wrap {
  margin: 0 auto;
  width: 1100px;
}
.container {
  margin-left: 525px;
  position: relative;
  width: 24px;
  height: 24px;
}
.chevron {
  position: absolute;
  top: -70px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 50px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}
.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}
.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}
.chevron:before, .chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #333;
}
.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}
.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}
@keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(45px);
  }
  100% {
    opacity: 0;
    transform: translateY(60px) scale3d(0.5, 0.5, 0.5);
  }
}
/* ---------------我々が全て解決致します------------------ */
.bg_1 {
  background: #eaf5f9;
  clip-path: polygon(0 5%, 100% 0, 100% 95%, 0% 100%);
}
.sec_solution {
  width: 1200px;
  margin: 0 auto;
  margin-top: -100px;
  position: relative;
  padding-top: 100px;
  z-index: 1;
}
.solution_text {
  text-align: center;
  margin-top: 30px;
  color: var(--gray);
  font-weight: bold;
}
.sec_solution ul {
  margin: 50px 0;
}
.solution_li {
  width: calc(1100px/3);
  height: 350px;
  background-color: #cad1db;
  margin-right: 30px;
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
  overflow: hidden;
}
.solution_li_list_img img {
  width: 100%;
  height: auto;
}
.solution_li_list_img {
  width: 100%;
  height: 60%;
}
.solution_li_list_text {
  width: 100%;
  height: 40%;
  background: #fff;
  position: relative;
}
.solution_li_list_text h2 {
  position: absolute;
  font-size: 1.0rem;
  text-align: center;
  color: #333;
  right: 0;
  left: 0;
  margin: auto;
  margin-top: 35px;
  padding: 0 5px;
  font-weight: 700;
}
/* ---------------選ばれる理由------------------ */
.sec_reason {
  width: 1100px;
  margin: 0 auto;
  padding-top: 70px;
}
.sec_reason ul {
  margin: 50px 0;
}
.reason_li {
  width: calc(100%/3);
  height: 350px;
  background-color: #cad1db;
  margin-right: 30px;
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
  border: solid 2px rgba(56, 59, 77, 0.1);
  overflow: hidden;
}
.reason_li_list_img, .reason_li_list_img2 {
  width: 100%;
  height: 60%;
}
.reason_li_list_img img {
  width: 100%;
  height: auto;
}
.reason_li_list_img2 img {
  width: auto;
  height: 100%;
}
.reason_li_list_text {
  width: 100%;
  height: 40%;
  background: #fff;
  position: relative;
}
.reason_li_list_text h2 {
  position: absolute;
  font-size: 1.0rem;
  text-align: center;
  color: #333;
  right: 0;
  left: 0;
  margin: auto;
  margin-top: 40px;
  padding: 0 5px;
}
/* ---------------TOPサービス一覧------------------ */
.sec_survise {
  margin: 0 auto;
  width: 1350px;
  padding-top: 150px;
}

.survise_ul{
	margin-top: 70px;
}

.survise_ul li{
width: calc(790px/3);	
margin: 10px 0 10px 0;
padding-bottom: 15px;
	position: relative;
}

.survise_ul li::after{
	content: '';
	width: 220px;
	height: 1px;
	background: #dcdcdc;
	position: absolute;
	bottom: 0;
	left: 0;
}

.survise_ul li:last-child::after{
	display: none;
}


/* ---------------会社について------------------ */
.sec_company {
  width: 1260px;
  margin: 0 auto;
  padding-top: 70px;
}
.company_table {
  margin: 50px auto;
  width: 70%;
  border-collapse: collapse;
}
.company_table tr {
  border-bottom: solid #333 2px;
}
.company_table td {
  padding: 20px;
  line-height: 1.8em;
  font-size: 0.95rem;
}
.company_table th {
  border-bottom: solid var(--blue) 2px;
  padding: 20px;
  padding: 0px 0px;
  width: 30%;
}
/* ---------------支援実績------------------ */
.sec_results {
  padding-top: 100px;
  padding-bottom: 100px;
}
.bg_results {
  background-color: var(--blue);
  clip-path: polygon(0 12%, 100% 0, 100% 100%, 0% 100%);
}
@keyframes infinity-scroll-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
IE11対策 _:-ms-lang(x)::-ms-backdrop, .d-demo {
  display: -ms-grid;
  overflow: hidden;
}
.d-demo__wrap {
  display: flex;
  overflow: hidden;
  margin-bottom: -20px;
}
.d-demo__list {
  display: flex;
  list-style: none;
  margin-bottom: -10px;
}
.d-demo__list--left {
  animation: infinity-scroll-left 100s infinite linear 0.5s both;
}
.d-demo__item {
  width: auto;
  height: 100px;
}
.d-demo__item > img {
  height: 70%;
  width: auto;
}
/* ---------------トピックス------------------ */
.bg_topics {
  background: var(--blue);
  clip-path: polygon(0 7%, 100% 0, 100% 100%, 0% 100%);
}
.sec_topics {
  width: 1200px;
  margin: 0 auto;
  padding-top: 100px;
}
/*==================================================
スライダーのためのcss
===================================*/
.slider {/*横幅94%で左右に余白を持たせて中央寄せ*/
   width:94%;
    margin:0 auto;
	
}

.slider img {
    width:100%;/*スライダー内の画像を横幅100%に*/
    height:auto;
}

.slider li{
	
	background-color:#fff;
	border-radius: 50px;
	overflow: hidden;
}

.slider li h1{
	font-size: 1.0rem;
}

/*slickのJSで書かれるタグ内、スライド左右の余白調整*/

.slider .slick-slide {
    margin:0 10px;
}

/*矢印の設定*/

/*戻る、次へ矢印の位置*/
.slick-prev, 
.slick-next {
    position: absolute;
    top: 42%;
    cursor: pointer;
    outline: none;/*クリックをしたら出てくる枠線を消す*/
    border-top: 2px solid #ccc;/*矢印の色*/
    border-right: 2px solid #ccc;/*矢印の色*/
    height: 15px;
    width: 15px;
}

.slick-prev {/*戻る矢印の位置と形状*/
    left: -1.5%;
    transform: rotate(-135deg);
}

.slick-next {/*次へ矢印の位置と形状*/
    right: -1.5%;
    transform: rotate(45deg);
}

/*ドットナビゲーションの設定*/

.slick-dots {
    text-align:center;
  margin:20px 0 0 0;
}

.slick-dots li {
    display:inline-block;
  margin:0 5px;
}

.slick-dots button {
    color: transparent;
    outline: none;
    width:8px;/*ドットボタンのサイズ*/
    height:8px;/*ドットボタンのサイズ*/
    display:block;
    border-radius:50%;
    background:#ccc;/*ドットボタンの色*/
}

.slick-dots .slick-active button{
    background:#333;/*ドットボタンの現在地表示の色*/
}

/*---------------コンタクト①------------------*/
.bg_contact {
  background: #383b4d;
}
.sec_contact {
  padding-top: 70px;
  margin: 0 auto;
}
.contact_btn {
  width: 250px;
  height: 60px;
  border-radius: 50px;
  background-color: #f4eb8f;
  text-align: center;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  /*border-radius: 50px;*/
  overflow: hidden;
  z-index: 0;
  margin: 0;
  margin-right: 15px;
}
.contact_btn a {
  font-size: 16px;
  text-decoration: none;
  line-height: 58px;
  transition: all .5s ease;
  z-index: 2;
  position: relative;
  font-weight: bold;
  letter-spacing: 0.1em;
}
.contact_btn a::after {
  content: '→';
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  top: -20px;
  right: -35px;
}
.eff-contact {
  width: 250px;
  height: 60px;
  left: -250px;
  background-color: #fff;
  position: absolute;
  transition: all .5s ease;
  z-index: 1;
}
.contact_btn:hover .eff-contact {
  left: 0;
}
.contact_btn:hover a {
  color: #333;
}
.contact_btn2 {
  width: 250px;
  height: 60px;
  border: 1px solid #333;
  border-radius: 50px;
  background-color: #fff;
  text-align: center;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  /*border-radius: 50px;*/
  overflow: hidden;
  z-index: 0;
  margin: 0;
  margin-right: 15px;
}
.contact_btn2 a {
  font-size: 16px;
  color: var(--blue3);
  text-decoration: none;
  line-height: 55px;
  transition: all .5s ease;
  z-index: 2;
  position: relative;
  font-weight: bold;
  letter-spacing: 0.1em;
}
.contact_btn2 a::after {
  content: '→';
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  top: -20px;
  right: -35px;
}
.eff-contact2 {
  width: 250px;
  height: 60px;
  left: -250px;
  background-color: #f4eb8f;
  position: absolute;
  transition: all .5s ease;
  z-index: 1;
}
.contact_btn2:hover .eff-contact2 {
  left: 0;
}
.contact_btn2:hover a {
  color: var(--gray);
}
/*.contact-form {
	width: 65%;
	margin: 0 auto;
}

.contact-form p{
	display: inline-block;
	color: #fff;
	margin-top: 30px;
	margin-bottom: 10px;
}

.required {
  font-size: 0.8em;
  background-color: #fff;
  color: #333;
  padding: 3px 5px;
  width: 50px;
  margin: 5px;
  text-align: center;
}

.form_txt {
	width: 100%;
  height: 50px;
}

.btn-check{
	width: 100%;
	display: block;
	margin: 0 auto;
	text-align: center;
}

.form_btn {
  padding: 20px 0;
	width: 100%;
  border: none;
  background-color: #ff8c00;
  color: #fff;
  margin: 40px auto;
  font-size: 1.0em;
  font-weight: bold;
  cursor: pointer;
}

.required {
  font-size: 0.8em;
  display: inline-block;
  background-color: #fff;
  color: #333;
  padding: 3px 6px 3px 5px;
  margin: 5px;
  text-align: center;
}*/
/* ---------------フッター------------------ */
footer {
  text-align: center;
  padding: 100px 0;
}
footer ul {
  margin-bottom: 50px;
}
.footer_logo {
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 70px;
}
.footer_logo img {
  width: 150px;
  height: auto;
  margin-right: 30px;
}
.footer_logo p {
  font-size: 1.0rem;
  text-align: left;
}
/* ---------------資料請求------------------ */
.document_btn {
  width: 350px;
  height: auto;
  background-color: #fff;
  position: fixed;
  bottom: 50px;
  right: 30px;
  padding: 20px;
}
.document_btn h3 {
  color: var(--blue);
  font-weight: 900;
}

.document_btn p{
	padding:5px;
}

.document_btn figure {
  position: absolute;
  top: -5px;
  right: 10px;
  font-size: 2.5rem;
  cursor: pointer;
}
.document_btn figure.close {
  display: none;
}
/* ---------------TOPにもどるボタン------------------ */
#page-top {
  position: fixed;
  bottom: 150px;
  right: 10px;
  z-index: 99;
}
#page-top a {
  font-size: 40px;
  background: #72C7CA;
  text-decoration: none;
  color: #fff;
  width: 60px;
  height: 60px;
  text-align: center;
  display: block;
  opacity: 0.9;
  transition: all .3s ease;
}
#page-top a:hover {
  text-decoration: none;
  opacity: .5;
}